# CI
/.github/ @vmilosevic @nsumrakTT @vvukomanTT

# Performance tests
/benchmark/ @vkovacevicTT @odjuricicTT @tt-mpantic @rpavlovicTT

# Third party dependency projects
/third_party/ @vkovacevicTT @odjuricicTT @tt-mpantic
