# CI
/.github/ @vmilosevic @nsumrakTT @jmcgrathTT @vvukomanTT

# Performance tests
/benchmark/ @vcanicTT @vkovacevicTT @odjuricicTT @tt-mpantic

# Third party dependency projects
/third_party/ @vcanicTT @vkovacevicTT @odjuricicTT @tt-mpantic
