--extra-index-url https://download.pytorch.org/whl/cpu
jax==0.7.1
sentencepiece
flax
torchvision==0.24.0+cpu
git+https://github.com/erfanzar/EasyDeL.git@77ced9d2f2ab6a3d705936d26112eb97d9f9e64a
eformer==0.0.62