name: Basic tests
run-name: Basic tests ${{ inputs.parent_run_id && format('parent_run_id:{0}', inputs.parent_run_id) || '' }}

on:
  workflow_dispatch:
    inputs:
      docker-image:
        description: "Docker image used in tests"
        required: false
        type: string
        default: "ghcr.io/tenstorrent/tt-forge-slim:nightly-latest"
      parent_run_id:
        description: "Parent run id is used to track child workflows in automated dispatch workflow calls"
        required: false
        type: string
        default: ""
      project-filter:
        description: "Project filter"
        required: false
        type: choice
        options:
          - tt-forge-onnx
          - tt-torch
          - tt-xla
          - tt-forge
        default: tt-forge
      runner-filter:
        description: "Runner filter"
        required: false
        type: choice
        options:
          - n150
          - p150
          - All
        default: All

  workflow_call:
    inputs:
      docker-image:
        description: "Docker image used in tests"
        required: true
        type: string
      project-filter:
        description: "Project filter"
        required: false
        type: string
        default: tt-forge
      ref:
        description: "Git ref to checkout"
        required: false
        type: string
      runner-filter:
        description: "Runner types for test execution"
        required: false
        type: string
        default: All

jobs:
  build_matrix:
    runs-on: ubuntu-latest
    outputs:
      json_matrix: ${{ steps.set-matrix.outputs.json_matrix }}
    steps:
      - name: Set matrix
        id: set-matrix
        shell: bash
        run: |
          json_matrix="[]"

          project_filter="${{ inputs.project-filter }}"

          if [ "${{ inputs.runner-filter }}" == "All" ]; then
            runs_on="n150 p150"
          else
            runs_on="${{ inputs.runner-filter }}"
          fi

          if [ "${{ inputs.project-filter }}" == "tt-forge" ]; then
            frontends="tt-xla"
          elif [ -n "${{ inputs.project-filter }}" ]; then
            frontends="${{ inputs.project-filter }}"
          fi

          for frontend in $frontends; do
            for run_on in $runs_on; do
              json_matrix=$(echo $json_matrix | jq -r -c --arg frontend "$frontend" --arg run_on "$run_on" '. += [{
              "frontend": $frontend,
              "runs_on": $run_on

              }]')
            done
          done

          echo "json_matrix=$json_matrix"
          echo "json_matrix=$json_matrix" >> $GITHUB_OUTPUT
          echo "frontends=$frontends"
          echo "frontends=$frontends" >> $GITHUB_OUTPUT


  basic-test:
    name: Basic test ${{ matrix.frontend }} on ${{ matrix.runs_on }}
    needs: build_matrix
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.build_matrix.outputs.json_matrix) }}

    runs-on: ${{ fromJson(format('["in-service", "{0}"]', matrix.runs_on)) }}
    container:
      image: ${{ inputs.docker-image }}
      options: --device /dev/tenstorrent
      volumes:
        - /dev/hugepages:/dev/hugepages
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /etc/udev/rules.d:/etc/udev/rules.d
        - /lib/modules:/lib/modules
        - /opt/tt_metal_infra/provisioning/provisioning_env:/opt/tt_metal_infra/provisioning/provisioning_env

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: 'tenstorrent/tt-forge'
          fetch-depth: 1
          ref: ${{ inputs.ref || github.ref }}
          submodules: 'recursive'

      - name: Fix HOME Directory
        shell: bash
        run: |
          # Issue [HOME is overridden for containers](https://github.com/actions/runner/issues/863)
          h=$(getent passwd $(id -un) | cut -d: -f6)
          if [ "$h" = "$HOME" ]; then
            echo "HOME fine: $HOME"
            exit 0
          fi
          echo "HOME=$HOME was broken. Setting it to $h"
          ls -ld $HOME
          ls -ld $h
          echo "USER: $USER"
          echo "id: $(id)"
          echo "HOME=$h" >> $GITHUB_ENV

      - name: Run tests for ${{ matrix.frontend }}
        shell: bash
        env:
          # TODO: Revisit the addition of these env vars https://github.com/tenstorrent/tt-metal/issues/20161
          TRACY_NO_INVARIANT_CHECK: 1
        run: |
            python "basic_tests/${{ matrix.frontend }}/demo_test.py"

  fail-notify:
    if: always()
    needs:
      - basic-test
    runs-on: ubuntu-latest
    outputs:
      is-main: ${{ steps.branch-check.outputs.IS_MAIN }}
      failed: ${{ steps.check.outputs.failure }}
      is-draft: ${{ steps.draft-check.outputs.IS_DRAFT }}
      version_tag: ${{ steps.version-tag.outputs.version_tag }}
    steps:
      - name: Check if branch is main
        id: branch-check
        run: echo "IS_MAIN=$(if [ '${{ github.ref }}' == 'refs/heads/main' ]; then echo true; else echo false; fi)" >> $GITHUB_OUTPUT
      - name: Get version tag
        id: version-tag
        shell: bash
        run: |
          docker_image="${{ inputs.docker-image }}"
          version_tag="${docker_image##*:}"
          echo "version_tag=$version_tag"
          echo "version_tag=$version_tag" >> $GITHUB_OUTPUT
      - name: Check draft
        id: draft-check
        run: |
          parent_run_id="${{ inputs.parent_run_id }}"
          set +e
          draft_check="$(echo "$parent_run_id" | grep 'draft')"
          set -e
          echo "draft_check=$draft_check"
          IS_DRAFT="$(if [ -n "$draft_check" ]; then echo true; else echo false; fi)"
          echo "IS_DRAFT=$IS_DRAFT"
          echo "IS_DRAFT=$IS_DRAFT" >> $GITHUB_OUTPUT
      - name: Check if the needed jobs succeeded or failed
        id: check
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-skips: basic-test

  fail-send-msg:
    if: always()
    needs:
      - fail-notify
    runs-on: ubuntu-latest
    steps:
      - name: Send Fail Notification
        if: ${{ needs.fail-notify.outputs.failed == 'true' && needs.fail-notify.outputs.is-main == 'true' && needs.fail-notify.outputs.is-draft == 'false' && inputs.fail-notify == 'true' }}
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {
              "text": "Basic tests ${{ inputs.project-filter }} ${{ needs.fail-notify.outputs.version_tag }} failed: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}",
              "channel": "C088QN7E0R3"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ inputs.slack-token || secrets.SLACK_NIGHTLY_FAIL }}
