name: Demo tests
run-name: Demo tests ${{ inputs.parent_run_id && format('parent_run_id:{0}', inputs.parent_run_id) || '' }}

on:
  workflow_dispatch:
    inputs:
      docker-image:
        description: "Docker image used in tests"
        required: false
        type: string
        default: "harbor.ci.tenstorrent.net/ghcr.io/tenstorrent/tt-forge/tt-forge-slim:latest"
      parent_run_id:
        description: "Parent run id is used to track child workflows in automated dispatch workflow calls"
        required: false
        type: string
        default: ""
      project-filter:
        description: "Project filter"
        required: false
        type: choice
        options:
          - tt-forge-onnx
          - tt-torch
          - tt-xla
          - tt-forge
        default: tt-forge
      test-filter:
        description: "Only run tests that contains"
        required: false
        type: string
        default: ""
  workflow_call:
    inputs:
      docker-image:
        description: "Docker image used in tests"
        required: true
        type: string
      project-filter:
        description: "Project filter"
        type: string
        required: false
        default: "All"
      ref:
        description: "Git ref to checkout"
        required: false
        type: string


# Used for produce_data.yml workflow dispatch trigger
permissions:
  id-token: write
  actions: write

jobs:
  set-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix-json.outputs.matrix }}
      matrix_skip: ${{ steps.set-matrix-json.outputs.matrix_skip }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        repository: 'tenstorrent/tt-forge'
        fetch-depth: 1
        ref: ${{ inputs.ref || github.ref }}
        submodules: 'recursive'

    - name: Filter Matrix
      id: set-matrix-json
      shell: bash
      run: |
        result=$(python .github/workflows/filter-test-matrix.py \
          .github/workflows/models-matrix.json \
          ${{ inputs.project-filter || '' }} \
          ${{ inputs.test-filter && format('--test-filter "{0}"', inputs.test-filter) || '' }} \
          --sh-runner)

        matrix=$(echo $result | jq -r -c '.matrix')
        matrix_skip=$(echo $result | jq -r '.matrix_skip')

        echo "matrix=$matrix" >> $GITHUB_OUTPUT
        echo "matrix_skip=$matrix_skip" >> $GITHUB_OUTPUT

  demo-test:
    if: ${{ needs.set-matrix.outputs.matrix_skip == 'false' }}
    needs: set-matrix
    name: Demo ${{ matrix.project }} ${{ matrix.name }} on ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.set-matrix.outputs.matrix) }}

    runs-on: ${{ matrix.runs-on && format('tt-ubuntu-2204-{0}-stable', matrix.runs-on) }}
    container:
      image: ${{ inputs.docker-image }}
      options: --device /dev/tenstorrent
      volumes:
        - /dev/hugepages:/dev/hugepages
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /etc/udev/rules.d:/etc/udev/rules.d
        - /lib/modules:/lib/modules
        - /opt/tt_metal_infra/provisioning/provisioning_env:/opt/tt_metal_infra/provisioning/provisioning_env

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: 'tenstorrent/tt-forge'
          fetch-depth: 1
          ref: ${{ inputs.ref || github.ref }}
          submodules: 'recursive'

      - name: Run ${{ matrix.project }} demo ${{ matrix.name }}
        shell: bash
        run: |
          demo_file=$(basename "${{ matrix.path }}")
          demo_folder=$(dirname demos/${{ matrix.project }}/${{ matrix.path }})

          export PYTHONPATH=$(pwd) # Add repository root to PYTHONPATH so demos can find models in third_party folder
          cd $demo_folder
          pip install -r requirements.txt
          python $demo_file

  fail-notify:
    if: always()
    needs:
      - demo-test
    runs-on: ubuntu-latest
    outputs:
      is-main: ${{ steps.branch-check.outputs.IS_MAIN }}
      failed: ${{ steps.check.outputs.failure }}
      is-draft: ${{ steps.draft-check.outputs.IS_DRAFT }}
      version_tag: ${{ steps.version-tag.outputs.version_tag }}
    steps:
      - name: Check if branch is main
        id: branch-check
        run: echo "IS_MAIN=$(if [ '${{ github.ref }}' == 'refs/heads/main' ]; then echo true; else echo false; fi)" >> $GITHUB_OUTPUT
      - name: Get version tag
        id: version-tag
        shell: bash
        run: |
          docker_image="${{ inputs.docker-image }}"
          version_tag="${docker_image##*:}"
          echo "version_tag=$version_tag"
          echo "version_tag=$version_tag" >> $GITHUB_OUTPUT
      - name: Check draft
        id: draft-check
        run: |
          parent_run_id="${{ inputs.parent_run_id }}"
          set +e
          draft_check="$(echo "$parent_run_id" | grep 'draft')"
          set -e
          echo "draft_check=$draft_check"
          IS_DRAFT="$(if [ -n "$draft_check" ]; then echo true; else echo false; fi)"
          echo "IS_DRAFT=$IS_DRAFT"
          echo "IS_DRAFT=$IS_DRAFT" >> $GITHUB_OUTPUT
      - name: Check if the needed jobs succeeded or failed
        id: check
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
          allowed-skips: demo-test

  fail-send-msg:
    if: always()
    needs:
      - fail-notify
    runs-on: ubuntu-latest
    steps:
      - name: Send Fail Notification
        if: ${{ needs.fail-notify.outputs.failed == 'true' && needs.fail-notify.outputs.is-main == 'true' && needs.fail-notify.outputs.is-draft == 'false' && inputs.parent_run_id != ''  }}
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {
              "text": "Demo tests ${{ inputs.project-filter }} ${{ needs.fail-notify.outputs.version_tag }} failed: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}",
              "channel": "C088QN7E0R3"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ inputs.slack-token || secrets.SLACK_NIGHTLY_FAIL }}


  produce-data:
    needs:
      - fail-send-msg
    if: ${{ always() && inputs.parent_run_id != '' }}
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          repository: 'tenstorrent/tt-forge'
          fetch-depth: 1
          ref: ${{ inputs.ref || github.ref }}
          submodules: 'recursive'

      - name: Trigger produce_data.yml
        uses: ./.github/actions/trigger-workflow
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          workflow_name: "produce_data.yml"
          wait: false
          wait_for_run_url: true
          json_params: '{"run_id": "${{ github.run_id }}", "run_attempt": "${{ github.run_attempt }}", "sleep": "10" }'
