name: Performance benchmark experimental

on:
  schedule:
    - cron: '0 5 * * *'

permissions:
  id-token: write
  actions: write

jobs:
  filter-tests:
    runs-on: ubuntu-latest
    outputs:
      matrix_p150: ${{ steps.set-perf-benchmarks.outputs.matrix_p150 }}
      matrix_p150_skip: ${{ steps.set-perf-benchmarks.outputs.matrix_p150_skip }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        repository: 'tenstorrent/tt-forge'
        fetch-depth: 1
        ref: ${{ github.ref }}
        submodules: 'recursive'

    - name: Filter Matrix
      id: set-perf-benchmarks
      shell: bash
      run: |
        result=$(python .github/workflows/filter-test-matrix.py \
          .github/workflows/perf-bench-matrix.json \
          "tt-forge")

        matrix=$(echo $result | jq -r -c '.matrix')
        matrix_p150=$(echo $result | jq -r -c '.matrix | map(select(."runs-on" | contains("p150")))')

        matrix_p150_skip="false"

        if [ "$matrix_p150" == "[]" ]; then
          matrix_p150_skip="true"
        fi

        echo "matrix_p150=$matrix_p150" >> $GITHUB_OUTPUT
        echo "matrix_p150_skip=$matrix_p150_skip" >> $GITHUB_OUTPUT

  run-p150-perf-benchmarks:
    needs: filter-tests
    if: ${{ needs.filter-tests.outputs.matrix_p150_skip == 'false' }}
    secrets: inherit
    uses: ./.github/workflows/call-perf-test.yml
    with:
      matrix: ${{ needs.filter-tests.outputs.matrix_p150 }}
      docker-image: "ghcr.io/tenstorrent/tt-xla-slim:nightly-latest"