name: Performance benchmark

on:
  workflow_dispatch:
    inputs:
      docker-image:
        description: "Docker image used in tests"
        required: false
        type: string
        default: "ghcr.io/tenstorrent/tt-forge/tt-forge-slim:latest"
  workflow_call:
    inputs:
      docker-image:
        description: "Docker image used in tests"
        required: true
        type: string

jobs:
  run-perf-benchmarks:
    container:
      image: ${{ inputs.docker-image }}
      options: --device /dev/tenstorrent --user forge
      volumes:
        - /dev/hugepages:/dev/hugepages
        - /dev/hugepages-1G:/dev/hugepages-1G
        - /etc/udev/rules.d:/etc/udev/rules.d
        - /lib/modules:/lib/modules
        - /opt/tt_metal_infra/provisioning/provisioning_env:/opt/tt_metal_infra/provisioning/provisioning_env
        - /mnt/dockercache:/mnt/dockercache

    # tt-torch reqs are not needed by tt-torch, but rather by benchmarking infra, should be moved elsewhere: https://github.com/tenstorrent/tt-forge/issues/177
    strategy:
      fail-fast: false
      matrix:
        build: [
          { runs-on: "n150", project: "tt-forge-fe", name: "demo_test",         dir: "", bs: 1, lp: 1 },
          { runs-on: "n150", project: "tt-forge-fe", name: "llama",             dir: "LlamaModel", ts: 'na', bs: 1, lp: 32, libreq: "libgl1-mesa-glx libglib2.0-0" },
          { runs-on: "n150", project: "tt-forge-fe", name: "mnist_linear",      dir: "MNISTLinear", ts: 'na', bs: 32, lp: 32 },
          { runs-on: "n150", project: "tt-forge-fe", name: "resnet_hf",         dir: "ResNetForImageClassification", ts: 'classification', bs: 3, lp: 32, libreq: "libgl1-mesa-glx libglib2.0-0" },
          { runs-on: "n150", project: "tt-forge-fe", name: "mobilenetv2_basic", dir: "MobileNetv2Basic", ts: 'classification', bs: 1, lp: 32, libreq: "libgl1-mesa-glx libglib2.0-0" },
          { runs-on: "n150", project: "tt-forge-fe", name: "efficientnet_timm", dir: "EfficientNetTimmB0", ts: 'classification', bs: 1, lp: 32, libreq: "libgl1-mesa-glx libglib2.0-0" },
          { runs-on: "n150", project: "tt-forge-fe", name: "segformer",         dir: "Segformer", ts: 'na', bs: 1, lp: 32, df: 'float32', libreq: "libgl1-mesa-glx libglib2.0-0" },
          { runs-on: "n150", project: "tt-forge-fe", name: "vit",               dir: "ViTBase", ts: 'classification', bs: 8, lp: 32, df: 'float32', libreq: "libgl1-mesa-glx libglib2.0-0" },
          { runs-on: "n150", project: "tt-forge-fe", name: "vovnet",            dir: "VovnetOSMR", ts: 'classification', bs: 16, lp: 32, df: 'bfloat16', libreq: "libgl1-mesa-glx libglib2.0-0" },
          { runs-on: "n150", project: "tt-forge-fe", name: "yolo_v4",           dir: "YOLOv4", ts: 'na', bs: 1, lp: 32, df: 'bfloat16', libreq: "libgl1-mesa-glx libglib2.0-0" },
          { runs-on: "n150", project: "tt-forge-fe", name: "yolo_v8",           dir: "YOLOv8", ts: 'na', bs: 1, lp: 32, df: 'bfloat16', libreq: "libgl1-mesa-glx libglib2.0-0" },
          { runs-on: "n150", project: "tt-forge-fe", name: "yolo_v9",           dir: "YOLOv9", ts: 'na', bs: 1, lp: 32, df: 'bfloat16', libreq: "libgl1-mesa-glx libglib2.0-0" },
          { runs-on: "n150", project: "tt-forge-fe", name: "yolo_v10",          dir: "YOLOv10", ts: 'na', bs: 1, lp: 32, df: 'bfloat16', libreq: "libgl1-mesa-glx libglib2.0-0" },
          { runs-on: "n150", project: "tt-forge-fe", name: "unet",              dir: "UNet", ts: 'na', bs: 1, lp: 32, df: 'bfloat16', libreq: "libgl1-mesa-glx libglib2.0-0" },
          { runs-on: "n150", project: "tt-torch",    name: "resnet",            dir: "", bs: 8, lp: 32, require: "loguru requests transformers datasets torchvision pytest" },
          { runs-on: "n150", project: "tt-xla",      name: "demo_test",         dir: "", bs: 1, lp: 1, require: "pytest" },
          { runs-on: "n150", project: "tt-xla",      name: "resnet",            dir: "", bs: 1, lp: 32, require: "pytest tqdm" },
          { runs-on: "n150", project: "tt-mlir",     name: "demo_test",         dir: "", bs: 1, lp: 1 },
        ]
    runs-on:
      - ${{ matrix.build.runs-on }}
      - in-service

    name: "Performance benchmark ${{ matrix.build.project }} ${{ matrix.build.name }} (${{ matrix.build.runs-on }}, ${{ matrix.build.bs }}, ${{ matrix.build.lp }})"
    steps:

    - name: Debug user context
      run: id

    - name: Debug permissions
      run: ls -ld /__w /__w/_temp /__w/_temp/_runner_file_commands

    - uses: actions/checkout@v4
      with:
          sparse-checkout: |
            benchmark/
            pytest.ini
            conftest.py
            .test_durations
          fetch-depth: 1 # Fetch all history and tags

    - name: Install system and python dependencies
      shell: bash
      run: |
        if [ "${{ matrix.build.project }}" == "tt-forge-fe" ]; then
          apt-get install -y -qq --no-install-recommends sqlite3
        fi
        if [ -n "${{ matrix.build.libreq }}" ]; then
          apt-get install -y -qq --no-install-recommends ${{ matrix.build.libreq }}
        fi
        if [ -n "${{ matrix.build.require }}" ]; then
          pip install ${{ matrix.build.require }}
        fi

    - name: Fetch job id
      id: fetch-job-id
      uses: tenstorrent/tt-github-actions/.github/actions/job_id@main
      with:
        job_name: "run-perf-benchmarks ${{matrix.build.project }}-${{matrix.build.name }} (${{ matrix.build.runs-on }}, ${{ matrix.build.bs }}, ${{ matrix.build.lp }})"

    - name: Set reusable strings
      id: strings
      shell: bash
      env:
        JOB_ID: ${{ steps.fetch-job-id.outputs.job_id }}
      run: |
        echo "work-dir=$(pwd)" >> "$GITHUB_OUTPUT"
        echo "build-output-dir=$(pwd)/build" >> "$GITHUB_OUTPUT"
        echo "perf_report_path=$(pwd)/benchmark_reports" >> "$GITHUB_OUTPUT"

    # - name: Git safe dir
    #   run: git config --global --add safe.directory ${{ steps.strings.outputs.work-dir }}

    # ttrt version (sha) should be taken from release metadata or something
    # - name: Download ttrt wheel
    #   uses: dawidd6/action-download-artifact@v6
    #   with:
    #     workflow_conclusion: success
    #     workflow: on-push.yml
    #     branch: main
    #     name: "(ttrt-whl|install-artifacts)-tracy"
    #     name_is_regexp: true
    #     repo: tenstorrent/tt-mlir
    #     check_artifacts: true
    #     path: ./

    # - name: Untar ttmlir install directory
    #   shell: bash
    #   run: |
    #     mv install-artifacts-tracy/ install/
    #     cd install
    #     tar xvf artifact.tar
    #     cd ..

    # - name: Install wheels
    #   shell: bash
    #   run: |
    #     if [ "${{ matrix.build.project }}" == "tt-forge-fe" ]; then
    #       python -m venv tt-forge-fe-venv
    #       source tt-forge-fe-venv/bin/activate
    #       pip install --pre --extra-index-url https://pypi.eng.aws.tenstorrent.com/ --upgrade tt-tvm tt-forge-fe
    #     elif [ "${{ matrix.build.project }}" == "tt-torch" ]; then
    #       python -m venv tt-torch-venv
    #       source tt-torch-venv/bin/activate
    #       pip install --pre --extra-index-url https://pypi.eng.aws.tenstorrent.com/ --upgrade tt_torch
    #     elif [ "${{ matrix.build.project }}" == "tt-xla" ]; then
    #       python -m venv tt-xla-venv
    #       source tt-xla-venv/bin/activate
    #       pip install --pre --extra-index-url https://pypi.eng.aws.tenstorrent.com/ --upgrade pjrt_plugin_tt
    #     elif [ "${{ matrix.build.project }}" == "tt-mlir" ]; then
    #       python -m venv tt-mlir-venv
    #       source tt-mlir-venv/bin/activate
    #       pip install --pre --extra-index-url https://pypi.eng.aws.tenstorrent.com/ --upgrade ttmlir
    #     else
    #       echo "Unknown project: ${{ matrix.build.project }}"
    #       exit 1
    #     fi
    #     if [ -n "${{ matrix.build.require }}" ]; then
    #       pip install ${{ matrix.build.require }}
    #     fi

    - name: Run Perf Benchmark
      shell: bash
      env:
        HF_TOKEN: ${{ secrets.HF_TOKEN }}
        HF_HOME: /mnt/dockercache/huggingface
        HF_HUB_DISABLE_PROGRESS_BARS: 1
      run: |
        mkdir -p ${{ steps.strings.outputs.perf_report_path }}
        source ${{ matrix.build.project }}-venv/bin/activate
        python benchmark/benchmark.py -p ${{ matrix.build.project}} -m ${{ matrix.build.name }} -bs ${{ matrix.build.bs }} -lp ${{ matrix.build.lp }} -o ${{ steps.strings.outputs.perf_report_path }}/benchmark_${{ matrix.build.project }}_e2e_${{ matrix.build.name }}_${{ matrix.build.bs }}_${{ matrix.build.lp }}_${{ steps.fetch-job-id.outputs.job_id }}.json
        if [ -n "${{ matrix.build.dir }}" ]; then
          python benchmark/create_ttir.py ~/testify/ll-sw/${{ matrix.build.dir }}/mlir_reports/ttir.mlir
        fi

    # - name: Install and run TTRT
    #   if: ${{ matrix.build.project != 'tt-torch' }}
    #   shell: bash
    #   run: |
    #     python -m venv ttrt-venv
    #     source ttrt-venv/bin/activate
    #     pip install ttrt-whl-tracy/ttrt*.whl --force-reinstall
    #     pip install torch==2.3.0 --index-url https://download.pytorch.org/whl/cpu
    #     echo "save artifacts"
    #     ttrt query --save-artifacts
    #     if [ -z "${{ matrix.build.allow-fail }}" ]; then
    #       ./benchmark/compile_and_run.sh ~/testify/ll-sw/${{ matrix.build.dir }}/mlir_reports/ttir_out.mlir ${{ steps.strings.outputs.perf_report_path }}/benchmark_${{ matrix.build.project }}_e2e_${{ matrix.build.name }}_${{ matrix.build.bs }}_${{ matrix.build.lp }}.json # _${{ steps.fetch-job-id.outputs.job_id }}.json
    #     else
    #       ./benchmark/compile_and_run.sh ~/testify/ll-sw/${{ matrix.build.dir }}/mlir_reports/ttir_out.mlir ${{ steps.strings.outputs.perf_report_path }}/benchmark_${{ matrix.build.project }}_e2e_${{ matrix.build.name }}_${{ matrix.build.bs }}_${{ matrix.build.lp }}_.json || true # ${{ steps.fetch-job-id.outputs.job_id }}.json || true
    #     fi

    - name: Upload Perf Report
      uses: actions/upload-artifact@v4
      if: success() || failure()
      with:
        name: perf-reports-${{ steps.fetch-job-id.outputs.job_id }}
        path: ${{ steps.strings.outputs.perf_report_path }}
