name: On PR

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  id-token: write
  actions: write

jobs:
  performance-benchmark:
    uses: ./.github/workflows/perf-benchmark.yml
    if: contains(github.event.pull_request.labels.*.name, 'uplift')
    secrets: inherit
    with:
      docker-image: ghcr.io/tenstorrent/tt-xla-slim:nightly-latest
      project: xla
