name: On PR

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  id-token: write
  actions: write

jobs:
  performance-benchmark:
    uses: ./.github/workflows/perf-benchmark.yml
    if: contains(github.event.pull_request.labels.*.name, 'uplift')
    secrets: inherit
    with:
      docker-image: ghcr.io/tenstorrent/tt-xla-slim:nightly-latest
      project: tt-xla

  check-all-green:
    if: always()
    needs: performance-benchmark
    runs-on: ubuntu-latest
    steps:
      - name: Check the status of needed jobs
        uses: re-actors/alls-green@release/v1
        with:
          allowed-skips: performance-benchmark
          allowed-failures: performance-benchmark
          jobs: ${{ toJson(needs) }}
