name: "[internal] Collect workflow data"
run-name: "Collect data for run_id ${{ github.event.workflow_run.id || inputs.run_id }} attempt ${{ github.event.workflow_run.run_attempt || inputs.run_attempt }}"

on:
  workflow_call:
    inputs:
      run_id:
        type: string
        description: "Run id of the workflow to collect data for"
        required: true
        default: ""
      run_attempt:
        type: string
        description: "Run attempt of the workflow to collect data for"
        required: true
        default: ""
      skip_wait_for_workflow_completion:
        description: "Skip waiting for workflow completion"
        required: false
        type: boolean
        default: false

  workflow_run:
    workflows: # List workflow that we want to collect data for
      - "Performance Benchmark External Trigger"
    types:
      - completed

jobs:
  produce-cicd-data:
    runs-on: ubuntu-latest
    env:
        GH_TOKEN: ${{ github.token }}
    steps:
      - name: Collect CI/CD data
        #TODO: Change back to tenstorrent/tt-github-actions before the feature is merged
        uses: jmcgrathTT/tt-github-actions/.github/actions/collect_data@feature-Allow-different-invocation-methods-of-produce-data-workflow
        with:
          repository: ${{ github.repository }}
          run_id: ${{ inputs.run_id || github.event.workflow_run.id }}
          run_attempt: ${{ inputs.run_attempt || github.event.workflow_run.run_attempt }}
          sftp_host: ${{ secrets.SFTP_CICD_WRITER_HOSTNAME }}
          sftp_user: ${{ secrets.SFTP_CICD_WRITER_USERNAME }}
          sftp_perf_host: ${{ secrets.SFTP_PERF_WRITER_HOSTNAME }}
          sftp_perf_user: ${{ secrets.SFTP_PERF_WRITER_USERNAME }}
          ssh-private-key: ${{ secrets.SFTP_CICD_WRITER_KEY }}
          skip_wait_for_workflow_completion: ${{ inputs.skip_wait_for_workflow_completion }}
