name: Release

on:
  workflow_call:
    inputs:
      draft:
        type: boolean
        default: true
        description: Put PR in draft mode for testing
      repo:
        type: string
        description: 'Repo to release e.g tt-forge-onnx'
        required: true
        default: ''
      repo_short:
        type: string
        description: 'Repo short name'
        required: true
      release_type:
        type: string
        description: 'Release type'
        required: true
      overwrite_releases:
        type: boolean
        default: false
        description: Overwrite releases
      new_version_tag:
        type: string
        description: 'New version tag for wheel'
        required: false
      branch:
        type: string
        description: 'Branch to release e.g main'
        required: false
        default: ''
      latest_branch_commit:
        type: string
        description: 'Latest branch commit'
        required: false
        default: ''
      current_release_tag_commit:
        type: string
        description: 'Current release tag commit'
        required: false
        default: ''
      override_release_fact_workflow:
        type: string
        description: 'Override release facts workflow'
        required: false
        default: ''
      workflow_allow_failed:
        description: "Ignore if workflow has failed"
        required: false
        type: boolean
        default: false

permissions:
  pages: write
  id-token: write
  contents: write
  actions: write
  packages: write
  attestations: write

jobs:

  generate-seed:
    outputs:
      random-seed: ${{ steps.random.outputs.id }}
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Generate random seed
      uses: ./.github/actions/random
      id: random

  build-release:
    needs: generate-seed
    name: "${{ inputs.draft && 'Draft' || '' }} Build Release ${{ inputs.repo_short }} ${{ inputs.release_type }} ${{ inputs.new_version_tag}} ${{ inputs.branch }}"
    outputs:
      release-artifacts-id: ${{ steps.build-release-wheel.outputs.release-artifacts-id }}
      release_exists: ${{ steps.check_release.outputs.release_exists }}
      target_commit: ${{ steps.build-release-wheel.outputs.target_commit }}
      harbor_image_tag: ${{ steps.docker-build-push.outputs.harbor_image_tag }}
      image_tag: ${{ steps.docker-build-push.outputs.image_tag }}
      workflow_run_status_symbol: ${{ steps.build-release-wheel.outputs.workflow_run_status_symbol }}
      workflow_run_url: ${{ steps.build-release-wheel.outputs.workflow_run_url }}

    runs-on: ubuntu-latest
    env:
        GH_TOKEN: ${{ github.token }}
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/set-release-facts
      id: set-release-facts
      with:
        repo: ${{ inputs.repo }}
        release_type: ${{ inputs.release_type }}
        draft: ${{ inputs.draft }}
        new_version_tag: ${{ inputs.new_version_tag }}
        latest_branch_commit: ${{ inputs.latest_branch_commit }}

    - name: Free Disk Space (Ubuntu)
      if: ${{ steps.set-release-facts.outputs.repo_short == 'tt-forge' || steps.set-release-facts.outputs.repo_short == 'tt-xla' }}
      uses: jlumbroso/free-disk-space@main
      with:
        android: true
        dotnet: true
        haskell: true
        large-packages: false
        docker-images: true
        swap-storage: true

    - name: Check if release exists
      shell: bash
      if: ${{ !inputs.overwrite_releases }}
      env:
        TAG: "${{ steps.set-release-facts.outputs.gh_new_version_tag }}"
        REPO: ${{ inputs.draft && 'tenstorrent/tt-forge' || steps.set-release-facts.outputs.repo_full }}
      id: check_release
      run: |
        echo "Checking if release exists for $REPO $TAG"
        # Return value is true or false
        release_exists="$(.github/scripts/check_release.sh $REPO $TAG)"
        if [ -z "$release_exists"  ]; then
          echo "Could not check if release exists"
          exit 1
        fi
        echo "release_exists=$release_exists"
        if [ "${{ inputs.draft }}" == "true" ]; then
          echo "Draft release, setting release_exists to false for PR test workflow"
          release_exists=false
        fi
        echo "release_exists=$release_exists" >> $GITHUB_OUTPUT

    - name: Build Release Wheel
      if: ${{ inputs.draft || inputs.overwrite_releases || (inputs.overwrite_releases && github.event_name == 'workflow_dispatch') || steps.check_release.outputs.release_exists == 'false' }}
      id: build-release-wheel
      uses: ./.github/actions/build-release-wheel
      with:
        draft: ${{ inputs.draft }}
        repo: ${{ steps.set-release-facts.outputs.repo_full }}
        release_type: ${{ inputs.release_type }}
        latest_branch_commit: ${{ steps.set-release-facts.outputs.build_release_latest_branch_commit }}
        branch: ${{ inputs.branch || 'main' }}
        new_version_tag: ${{ steps.set-release-facts.outputs.build_release_tag }}
        unique_artifact_suffix: ${{ needs.generate-seed.outputs.random-seed }}
        override_release_fact_workflow: ${{ inputs.override_release_fact_workflow }}
        workflow_allow_failed: ${{ inputs.workflow_allow_failed || steps.set-release-facts.outputs.workflow_allow_failed }}

    - name: "Build Forge Ubuntu 22.04 Py 3.11"
      if: ${{ steps.set-release-facts.outputs.python_version == '3.11' }}
      uses: ./.github/actions/docker-build-push
      id: docker-build-push-3-11
      with:
          image_name: "ghcr.io/tenstorrent/forge-ubuntu-22-04-py3-11"
          cache_docker_tag: true
          make_latest: true
          force_rebuild: false
          dockerfile: ".github/Dockerfile.ubuntu-22-04-py3-11"

    - name: "Determine Docker Base Image"
      id: determine-docker-base-image
      run: |
        if [ "${{ steps.set-release-facts.outputs.python_version }}" == '3.11' ]; then
          DOCKER_BASE_IMAGE="${{ steps.docker-build-push-3-11.outputs.image_tag }}"
        fi
        echo "DOCKER_BASE_IMAGE=${DOCKER_BASE_IMAGE}"
        echo "DOCKER_BASE_IMAGE=${DOCKER_BASE_IMAGE}" >> $GITHUB_OUTPUT

    - name: "${{ inputs.draft && 'Draft' || '' }} Build Single Wheel Docker Image ${{ steps.set-release-facts.outputs.repo_short }} ${{ steps.set-release-facts.outputs.build_release_tag }}"
      if: ${{ (steps.set-release-facts.outputs.skip_docker_build == 'false' && steps.check_release.outputs.release_exists == 'false') || (steps.set-release-facts.outputs.skip_docker_build == 'false' && inputs.overwrite_releases) }}
      id: docker-build-push
      uses: ./.github/actions/docker-build-push
      with:
        image_name: "ghcr.io/tenstorrent/${{ steps.set-release-facts.outputs.repo_short }}-slim"
        docker_tag: "${{ steps.set-release-facts.outputs.gh_new_version_tag }}"
        make_latest: false
        force_rebuild: ${{ inputs.overwrite_releases }}
        draft: ${{ inputs.draft }}
        dockerfile: ".github/Dockerfile.single-wheel-slim"
        build_args: "--build-arg REPO_SHORT=${{ steps.set-release-facts.outputs.repo_short }} --build-arg WHEEL_FILES_PATH=${{ steps.build-release-wheel.outputs.wheel_files_path }} --build-arg DOCKER_BASE_IMAGE=${{ steps.determine-docker-base-image.outputs.DOCKER_BASE_IMAGE }}"

  test-release:
    outputs:
      docker_basic_test_run_url: ${{ steps.trigger-basic-test.outputs.run_url }}
      docker_demo_test_run_url: ${{ steps.trigger-demo-test.outputs.run_url }}
    name: "${{ inputs.draft && 'Draft' || '' }} Test Release ${{ inputs.repo_short }} ${{ inputs.release_type }} ${{ inputs.new_version_tag}} ${{ inputs.branch }}"
    if: ${{ inputs.draft || inputs.overwrite_releases || needs.build-release.outputs.release_exists == 'false'  }}
    needs:
      - build-release
      - generate-seed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/set-release-facts
        id: set-release-facts
        with:
          repo: ${{ inputs.repo }}
          release_type: ${{ inputs.release_type }}
          draft: ${{ inputs.draft }}
          new_version_tag: ${{ inputs.new_version_tag }}

      - name: Trigger Docker Basic test ${{ steps.set-release-facts.outputs.repo_short }}
        if: ${{  steps.set-release-facts.outputs.skip_docker_build == 'false' }}
        id: trigger-basic-test
        uses: ./.github/actions/trigger-workflow
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          workflow_name: "Basic tests"
          parent_run_id: "basic-test-${{ steps.set-release-facts.outputs.repo_short }}-${{ steps.set-release-facts.outputs.gh_new_version_tag }}-${{ needs.generate-seed.outputs.random-seed }}"
          wait: false
          wait_for_run_url: true
          json_params: '{"docker-image": "${{ needs.build-release.outputs.image_tag }}", "project-filter": "${{ steps.set-release-facts.outputs.repo_short }}", "runner-filter": "${{ steps.set-release-facts.outputs.basic_tests_runner_filter }}" }'

      - name: Trigger Docker Demo test ${{ steps.set-release-facts.outputs.repo_short }}
        if: ${{  steps.set-release-facts.outputs.skip_docker_build == 'false' }}
        uses: ./.github/actions/trigger-workflow
        id: trigger-demo-test
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          workflow_name: "Demo tests"
          parent_run_id: "demo-test-${{ steps.set-release-facts.outputs.repo_short }}-${{ steps.set-release-facts.outputs.gh_new_version_tag }}-${{ needs.generate-seed.outputs.random-seed }}"
          wait: ${{ steps.set-release-facts.outputs.test_demo_wait }}
          wait_for_run_url: true
          json_params: '{"docker-image": "${{ needs.build-release.outputs.harbor_image_tag }}", "project-filter": "${{ steps.set-release-facts.outputs.repo_short }}", "test-filter": "${{ steps.set-release-facts.outputs.test_demo_filter }}" }'

# TODO: Re-enable this after adding tt-mlir version to frontend setup.py description
# REF: https://github.com/tenstorrent/tt-forge/issues/170
#      - name: Trigger Docker Performance test ${{ steps.set-release-facts.outputs.repo_short }}
#        if: ${{  steps.set-release-facts.outputs.skip_docker_build == 'false' && steps.set-release-facts.outputs.test_perf == 'true' }}
#        uses: ./.github/actions/trigger-workflow
#        id: trigger-perf-test
#        env:
#          GH_TOKEN: ${{ github.token }}
#        with:
#          workflow_name: "Performance benchmark"
#          parent_run_id: "perf-test-${{ steps.set-release-facts.outputs.repo_short }}-${{ steps.set-release-facts.outputs.gh_new_version_tag }}-${{ needs.generate-seed.outputs.random-seed }}"
#          wait: ${{ steps.set-release-facts.outputs.test_demo_wait }}
#          wait_for_run_url: true
#          json_params: '{"docker-image": "${{ needs.build-release.outputs.image_tag }}", "project-filter": "${{ steps.set-release-facts.outputs.repo_short }}", "test-filter": "${{ steps.set-release-facts.outputs.test_perf_filter }}", "sh-runner": "${{ steps.set-release-facts.outputs.test_perf_sh_runner }}" }'

      - name: Wait for Basic tests
        if: ${{  steps.set-release-facts.outputs.skip_docker_build == 'false' }}
        uses: ./.github/actions/wait-workflow
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          parent_run_id: ${{ steps.trigger-basic-test.outputs.parent_run_id }}

  publish-release:
    name: "${{ inputs.draft && 'Draft' || '' }} Publish Release ${{ inputs.repo_short }} ${{ inputs.release_type }} ${{ inputs.new_version_tag}} ${{ inputs.branch }}"
    if: ${{ inputs.draft || inputs.overwrite_releases || needs.build-release.outputs.release_exists == 'false'  }}
    needs:
      - build-release
      - test-release
      - generate-seed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/set-release-facts
        id: set-release-facts
        with:
          repo: ${{ inputs.repo }}
          release_type: ${{ inputs.release_type }}
          draft: ${{ inputs.draft }}
          new_version_tag: ${{ inputs.new_version_tag }}

      - name: Download Release Artifacts
        id: download-release-artifacts
        uses: actions/download-artifact@v4
        with:
          artifact-ids: ${{ needs.build-release.outputs.release-artifacts-id }}
          path: ${{ github.workspace }}/release

      - name: Generate docs
        uses: ./.github/actions/docs-generator
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          repo_short: ${{ steps.set-release-facts.outputs.repo_short }}
          repo_full: ${{ steps.set-release-facts.outputs.repo_full }}
          release_type: ${{ inputs.release_type }}
          latest_commit: ${{ needs.build-release.outputs.target_commit }}
          new_version_tag: ${{ steps.set-release-facts.outputs.build_release_tag }}
          pip_wheel_names: ${{ steps.set-release-facts.outputs.pip_wheel_names }}
          skip_docker_build: ${{ steps.set-release-facts.outputs.skip_docker_build }}
          make_latest: ${{ steps.set-release-facts.outputs.make_latest }}
          workflow_run_status_symbol: ${{ needs.build-release.outputs.workflow_run_status_symbol }}
          workflow_run_url: ${{ needs.build-release.outputs.workflow_run_url }}
          git_log_fail_on_error: ${{ steps.set-release-facts.outputs.git_log_fail_on_error }}
          docker_basic_test_run_url: ${{ needs.test-release.outputs.docker_basic_test_run_url }}
          docker_demo_test_run_url: ${{ needs.test-release.outputs.docker_demo_test_run_url }}

      - uses: ./.github/actions/publish-tenstorrent-pypi
        # Skip Wheel PyPI upload in workflow test
        if: ${{ !inputs.draft }}
        #if: ${{ !inputs.draft && '${{ github.head_ref || github.ref_name }}' == 'main' }}
        with:
          release-artifacts-name: build-release-${{ inputs.repo_short }}
          release-artifacts-wheel-path: artifacts
          role-to-assume: ${{ secrets.PYPI_ROLE }}
          region: ${{ secrets.PYPI_REGION }}
          bucket: ${{ secrets.PYPI_BUCKET }}
          new_version_tag: ${{ steps.set-release-facts.outputs.new_version_tag }}
          repo: ${{ inputs.repo }}
          overwrite_releases: ${{ inputs.overwrite_releases }}


      - name: "${{ inputs.draft && 'Draft' || '' }} Set to latest Docker Image ${{ steps.set-release-facts.outputs.repo_short }} ${{ steps.set-release-facts.outputs.gh_new_version_tag }}"
        if: ${{  steps.set-release-facts.outputs.skip_docker_build == 'false' }}
        id: docker-build-push
        uses: ./.github/actions/docker-build-push
        with:
          image_name: "ghcr.io/tenstorrent/${{ steps.set-release-facts.outputs.repo_short }}-slim"
          docker_tag: "${{ steps.set-release-facts.outputs.gh_new_version_tag }}"
          make_latest: ${{ steps.set-release-facts.outputs.make_latest }}
          draft: ${{ inputs.draft }}
          dockerfile: ".github/Dockerfile.single-wheel-slim"

      - uses: ./.github/actions/push-annotated-git-tag
        if: ${{ !(inputs.release_type == 'nightly' && inputs.draft == true) }}
        with:
          repo: ${{ steps.set-release-facts.outputs.repo_full }}
          draft: ${{ inputs.draft }}
          GH_TOKEN: ${{ secrets.TT_FORGE_RELEASER }}
          new_version_tag: ${{ steps.set-release-facts.outputs.gh_new_version_tag }}
          commit: ${{ inputs.latest_branch_commit }}
          gpg_private_key: ${{ secrets.FORGE_GPG_PRIVATE_KEY }}
          gpg_passphrase: ${{ secrets.FORGE_GPG_PASSPHRASE }}

      - uses: ./.github/actions/publish-github-release
        with:
          draft: ${{ inputs.draft }}
          repo: ${{ steps.set-release-facts.outputs.repo_full }}
          release_type: ${{ inputs.release_type }}
          release_token: ${{ secrets.TT_FORGE_RELEASER }}
          new_version_tag: ${{ steps.set-release-facts.outputs.gh_new_version_tag }}
          target_commit: ${{ needs.build-release.outputs.target_commit }}
          repo_short: ${{ inputs.repo_short }}
          prerelease: ${{ inputs.prerelease || steps.set-release-facts.outputs.prerelease }}
          release-artifacts-id: ${{ needs.build-release.outputs.release-artifacts-id }}
          unique_artifact_suffix: ${{ needs.generate-seed.outputs.random-seed }}
          make_latest: ${{ inputs.make_latest || steps.set-release-facts.outputs.make_latest }}


  # TODO: Shift this back up to test release after adding tt-mlir version to frontend setup.py description
  # REF: https://github.com/tenstorrent/tt-forge/issues/170
  test-release-after-publish:
    name: "${{ inputs.draft && 'Draft' || '' }} Test after publish Release ${{ inputs.repo_short }} ${{ inputs.release_type }} ${{ inputs.new_version_tag}} ${{ inputs.branch }}"
    if: ${{ inputs.draft || inputs.overwrite_releases || needs.build-release.outputs.release_exists == 'false'  }}
    needs:
      - build-release
      - test-release
      - publish-release
      - generate-seed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/set-release-facts
        id: set-release-facts
        with:
          repo: ${{ inputs.repo }}
          release_type: ${{ inputs.release_type }}
          draft: ${{ inputs.draft }}
          new_version_tag: ${{ inputs.new_version_tag }}

      - name: Trigger Docker Performance test ${{ steps.set-release-facts.outputs.repo_short }}
        if: ${{  steps.set-release-facts.outputs.skip_docker_build == 'false' && steps.set-release-facts.outputs.test_perf == 'true' }}
        uses: ./.github/actions/trigger-workflow
        id: trigger-perf-test
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          workflow_name: "Performance benchmark"
          parent_run_id: "perf-test-${{ steps.set-release-facts.outputs.repo_short }}-${{ steps.set-release-facts.outputs.gh_new_version_tag }}-${{ needs.generate-seed.outputs.random-seed }}"
          wait: ${{ steps.set-release-facts.outputs.test_demo_wait }}
          wait_for_run_url: true
          json_params: '{"docker-image": "${{ needs.build-release.outputs.image_tag }}", "project-filter": "${{ steps.set-release-facts.outputs.repo_short }}", "test-filter": "${{ steps.set-release-facts.outputs.test_perf_filter }}", "sh-runner": "${{ steps.set-release-facts.outputs.test_perf_sh_runner }}", "perf_regression_check": "true", "runs-on-filter": "n150", "skip-device-perf": "false" }'

      - name: Trigger Docker Performance test ${{ steps.set-release-facts.outputs.repo_short }} (llmbox)
        if: ${{  steps.set-release-facts.outputs.skip_docker_build == 'false' && steps.set-release-facts.outputs.test_perf == 'true' && steps.set-release-facts.outputs.repo_short == 'tt-xla' }}
        uses: ./.github/actions/trigger-workflow
        id: trigger-perf-test-llmbox
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          workflow_name: "Performance benchmark"
          parent_run_id: "perf-test-llmbox-${{ steps.set-release-facts.outputs.repo_short }}-${{ steps.set-release-facts.outputs.gh_new_version_tag }}-${{ needs.generate-seed.outputs.random-seed }}"
          wait: ${{ steps.set-release-facts.outputs.test_demo_wait }}
          wait_for_run_url: true
          json_params: '{"docker-image": "${{ needs.build-release.outputs.image_tag }}", "project-filter": "${{ steps.set-release-facts.outputs.repo_short }}", "test-filter": "${{ steps.set-release-facts.outputs.test_perf_filter }}", "sh-runner": "${{ steps.set-release-facts.outputs.test_perf_sh_runner }}", "perf_regression_check": "true", "runs-on-filter": "llmbox" }'
