# Example workflow using the superset-api action
name: Superset API Example

on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:

permissions:
  id-token: write
  actions: write

jobs:
  filter-tests:
    runs-on: ubuntu-latest
    outputs:
      matrix_n150: ${{ steps.set-perf-benchmarks.outputs.matrix_n150 }}
      matrix_p150: ${{ steps.set-perf-benchmarks.outputs.matrix_p150 }}
      matrix_n150_skip: ${{ steps.set-perf-benchmarks.outputs.matrix_n150_skip }}
      matrix_p150_skip: ${{ steps.set-perf-benchmarks.outputs.matrix_p150_skip }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        repository: 'tenstorrent/tt-forge'
        fetch-depth: 1
        ref: ${{ github.ref }}
        submodules: 'recursive'

    - name: Filter Matrix
      id: set-perf-benchmarks
      shell: bash
      run: |
        result=$(python .github/workflows/filter-test-matrix.py \
          .github/workflows/perf-bench-matrix.json ""

        matrix=$(echo $result | jq -r -c '.matrix')
        matrix_n150=$(echo $result | jq -r -c '.matrix | map(select(."runs-on" | contains("n150")))')
        matrix_p150=$(echo $result | jq -r -c '.matrix | map(select(."runs-on" | contains("p150")))')

        matrix_n150_skip="false"
        matrix_p150_skip="false"

        if [ "$matrix_n150" == "[]" ]; then
          matrix_n150_skip="true"
        fi
        if [ "$matrix_p150" == "[]" ]; then
          matrix_p150_skip="true"
        fi

        matrix_n150_skip="true"

        echo "matrix_n150=$matrix_n150" >> $GITHUB_OUTPUT
        echo "matrix_p150=$matrix_p150" >> $GITHUB_OUTPUT
        echo "matrix_n150_skip=$matrix_n150_skip" >> $GITHUB_OUTPUT
        echo "matrix_p150_skip=$matrix_p150_skip" >> $GITHUB_OUTPUT

  run-n150-perf-benchmarks:
    needs: filter-tests
    if: ${{ needs.filter-tests.outputs.matrix_n150_skip == 'false' }}
    secrets: inherit
    uses: ./.github/workflows/call-perf-test.yml
    with:
      matrix: ${{ needs.filter-tests.outputs.matrix_n150 }}
      docker-image: "ghcr.io/tenstorrent/tt-forge-slim:nightly-latest"

  run-p150-perf-benchmarks:
    needs: filter-tests
    if: ${{ needs.filter-tests.outputs.matrix_p150_skip == 'false' }}
    secrets: inherit
    uses: ./.github/workflows/call-perf-test.yml
    with:
      matrix: ${{ needs.filter-tests.outputs.matrix_p150 }}
      docker-image: "ghcr.io/tenstorrent/tt-forge-slim:nightly-latest"

  produce-data:
    needs:
      - run-n150-perf-benchmarks
      - run-p150-perf-benchmarks
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: Trigger produce_data.yml
        uses: ./.github/actions/trigger-workflow
        env:
          GH_TOKEN: ${{ github.token }}
        with:
          workflow_name: "produce_data.yml"
          wait: false
          wait_for_run_url: true
          json_params: '{"run_id": "${{ github.run_id }}", "run_attempt": "${{ github.run_attempt }}", "sleep": "10" }'
