# Example workflow using the superset-api action
name: Superset API Example

on:
  push:
    paths:
      - '.github/actions/superset-api/**'
  pull_request:
    paths:
      - '.github/actions/superset-api/**'
  workflow_dispatch:  # Allow manual triggering

permissions:
  id-token: write   # Required for OIDC
  contents: read    # Required for checking out code

jobs:
  call_api:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code # only needed when using action in same repo
        uses: actions/checkout@v3

      - name: Print
        shell: bash
        run: |
          echo "echo $1 $2 $3" > print.sh
          chmod u+x print.sh

          ./print.sh ${{ secrets.PYPI_BUCKET }} ${{ secrets.PYPI_REGION }} ${{ secrets.PYPI_ROLE }}

      # - name: Call Superset API
      #   id: api-call
      #   uses: ./.github/actions/superset-api
      #   with:
      #     query: 'benchmarks/last_measurement'
      #     query_params: '{"project":"tt-forge/tt-xla","ml_model_name":"pytorch_vovnet_ese_vovnet19b_dw.ra_in1k_cv_image_cls_timm","github_pipeline_id":"20451489242","arch":"wormhole"}'

      # - name: Display Response
      #   run: |
      #     echo "API Response:"
      #     echo '${{ steps.api-call.outputs.response }}'

      # - name: Create Job Summary
      #   run: |
      #     echo "# Benchmark Results" >> $GITHUB_STEP_SUMMARY
      #     echo "" >> $GITHUB_STEP_SUMMARY
      #     echo "| Metric | Value |" >> $GITHUB_STEP_SUMMARY
      #     echo "| ------ | ----- |" >> $GITHUB_STEP_SUMMARY

      #     # Parse the JSON and create table rows
      #     echo '${{ steps.api-call.outputs.response }}' | jq -r '.[] | "| " + .name + " | " + (.last_value | tostring) + " |"' >> $GITHUB_STEP_SUMMARY
