# Example workflow using the superset-api action
name: Superset API Example

on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:

permissions:
  id-token: write
  actions: write

jobs:
  filter-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Trigger Docker Performance test
      uses: ./.github/actions/trigger-workflow
      id: trigger-perf-test
      env:
        GH_TOKEN: ${{ github.token }}
      with:
        workflow_name: "Performance benchmark"
        json_params: '{"docker-image": "ghcr.io/tenstorrent/tt-forge-slim:nightly-latest", "project-filter": "tt-forge", "test-filter": "", "sh-runner": "false" }'
