# Example workflow using the superset-api action
name: Superset API Example

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  performance-benchmark:
    uses: ./.github/workflows/perf-benchmark.yml
    if: contains(github.event.pull_request.labels.*.name, 'uplift')
    secrets: inherit
    with:
      docker-image: ghcr.io/tenstorrent/tt-xla-slim:nightly-latest
      project: xla
